img.user-image {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
}
hr.line-header {
    display: block;
    margin: 20px auto 30px auto;
    width: 100px;
    height: 2.5px;
    background-color: #116530;
    opacity: 1;
}

.header-card-team {
    font-size:2rem;
    font-weight: 700;
    color: #116530;
    margin-top: 20px;
}

.user-deskripsi h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: -2px;
}
.user-deskripsi span {
    font-size: 12px;
    font-weight: 400;    
}

.card-team {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
}
